Hey everyone!
We want to keep this channel as clean as possible so the newcomers can get the right impression and find the answers to their questions. 
Channel Rules are:
1. No spam links (referrals/advertisements/etc)
2. No talking/shilling for outside projects
3. No gifs/memes/videos
4. No hate speech
5. No posts about price/predictions/moons/lambos/etc.
Please check our website for more info as many questions have been answered there.
If you still can't find your answers there, come back to see us.
www.dapscoin.com
Please use this room for help related questions:
https://t.me/HOW_TO_DAPS
Please use this room for less restricted chat about price discussion, chart watching, buy/sale walls and such: https://t.me/DAPS_MOONSPAM
